@import "tailwindcss";

body{
    color: var(--color-text);
}

:root{
    /* Cores */
    --color-purple: #8261B1;
    --color-transparent-purple: rgba(198, 174, 230, 0.4);
    --color-purple-hover: rgba(198, 174, 230, 0.747);
    --color-darkpurple: #542891;
    --color-gray: #C5C5C5;
    --color-text: #424242;
}