@import "tailwindcss";

body{
    color: var(--color-primary-text);
    background-color: var(--color-primary-bg);
}

@theme{
    /* Cores */
    --color-primary-bg: #FBFBFB;
    --color-primary-text: #424242;
    --color-gray: #EEEEEE;
    --color-purple: #8261B1;
    --color-darkpurple: #542891;
    --color-darkpurple-tr: rgba(89, 42, 154, 0.6);
    --color-purple-tr: rgba(198, 174, 230, 0.4);
    --color-purple-h: rgba(198, 174, 230, 0.747);
    --color-green: #67B161;
    --color-blue: #6189cb;
    --color-orange: #B19261;

    /* Sombras */
    --shadow-cont: 0 0 5px 2px rgba(198, 174, 230, 0.4);
}